body {
  margin: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

label {
  flex: 1;
}

.input-div {
  flex: 2;

  padding: 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
  border-radius: 10px;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  width: 60%;
}

button:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}
